{% extends "workspace/base.html" %}

{% block title %} Updating: {{ movie.name }}{% endblock %}

{% block work_content %}

    <div>
        Updating the movie: {{ movie.name }}
    </div>

    <div>
        <img src="{{ movie.image.url }}" alt="">
    </div>

    <div>
        <form action="{% url 'edit_movie' id=movie.id %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type='submit'>Update</button>
            </div>
        </form>
    </div>

{% endblock work_content %}